# Dependencies
node_modules
npm-debug.log*

# Next.js
.next
out

# Environment files
.env
.env.*
!.env.example

# Testing
coverage
playwright-report
test-results

# Git & editor
.git
.gitignore
.vscode
.idea
.DS_Store

# Docker
Dockerfile
docker-compose*.yml
.dockerignore

# Docs & misc
README.md
*.md
.husky
